html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 575.98px) {
  .cards img {
    object-fit: cover !important;
    width: 100%;
  }

  main {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
}
@media (max-width: 767.98px) {
  body {
    padding: 2vh 10px !important;
  }

  .cards {
    width: 100% !important;
    height: 110% !important;
  }

  input, button {
    font-size: 14px !important;
  }

  input[type=search] {
    padding: 0 10px !important;
  }

  main {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    gap: 55px 30px !important;
  }
}
.header {
  text-align: center;
}

body {
  padding: 3vh 100px;
  font-family: "Lato", sans-serif;
}

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #E7E7E7;
  --color-brand: #E7E7E7;
  --font-fam: "Lato", sans-serif;
  --height: 4.5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

form {
  margin-top: 2vh !important;
  position: relative;
  width: 100%;
  background: var(--color-brand);
  border-radius: var(--rad);
  margin: auto;
}

input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.1rem;
}

input[type=search] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.ingredients {
  margin-right: 1.5vh;
  margin-top: 1.5vh;
  transition: 0.1s ease-in-out;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #3282F7;
  display: flex;
}
.ingredients:hover {
  opacity: 0.8;
}

.appareil {
  margin-right: 2vh;
  margin-top: 1.5vh;
  transition: 0.1s ease-in-out;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #68D9A4;
  display: flex;
}
.appareil:hover {
  opacity: 0.8;
}

.ustensiles {
  margin-right: 2vh;
  margin-top: 1.5vh;
  transition: 0.1s ease-in-out;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #ED6454;
  display: flex;
}
.ustensiles:hover {
  opacity: 0.8;
}

.ingredients {
  margin-right: 2vh;
  margin-top: 1.5vh;
  transition: 0.1s ease-in-out;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #3282F7;
  display: flex;
}
.ingredients:hover {
  opacity: 0.8;
}

.filter {
  display: flex;
}

.filterText {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin: auto;
}

.filterIcon {
  margin: auto;
}

main {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
}

.cards {
  height: 364px;
  background: #E7E7E7;
  border-radius: 5px;
  width: 380px;
}

.cards img {
  border-radius: 5px 5px 0px 0px;
}

.titleAndTime {
  display: flex;
  margin: auto;
  padding: 2vh;
  justify-content: space-between;
}

.cardsTitle {
  font-size: 18px;
  font-weight: 400;
}

.time {
  display: flex;
}

.timeTitle {
  margin-left: 0.5vh;
  font-size: 18px;
  font-weight: 500;
}

.ingredientsWithDesc {
  padding: 0.1vh 2vh;
}

.ingredientsList {
  font-size: 12px;
  line-height: 14px;
  color: #000;
  width: 171px;
}

.description {
  margin-left: 1.5vh;
  font-size: 12px;
  width: 171px;
}

/*# sourceMappingURL=styles.css.map */
