html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 575.98px) {
  .cards img {
    object-fit: cover !important;
    width: 100%;
  }

  main {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  }
}
@media (max-width: 767.98px) {
  body {
    padding: 2vh 10px !important;
  }

  .cards {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
  }

  input, button {
    font-size: 14px !important;
  }

  input[type=search] {
    padding: 0 10px !important;
  }

  main {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    gap: 20px 30px !important;
  }

  .description {
    padding-top: 1vh;
    margin: 0 !important;
    font-size: 12px;
    position: initial !important;
    width: 35vh !important;
  }
}
.header {
  text-align: center;
}

body {
  padding: 3vh 100px;
  font-family: "Lato", sans-serif;
}

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #E7E7E7;
  --color-brand: #E7E7E7;
  --font-fam: "Lato", sans-serif;
  --height: 4.5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

form {
  margin-top: 2vh !important;
  position: relative;
  width: 100%;
  background: var(--color-brand);
  border-radius: var(--rad);
  margin: auto;
}

input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.1rem;
}

input[type=search] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.ingredients {
  cursor: pointer;
  margin-right: 1.5vh;
  margin-top: 1.5vh;
  transition: 0.1s ease-in-out;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #3282F7;
  display: flex;
}
.ingredients:hover {
  opacity: 0.8;
}

.appareil {
  cursor: pointer;
  margin-right: 2vh;
  margin-top: 1.5vh;
  transition: 0.1s ease-in-out;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #68D9A4;
  display: flex;
}
.appareil:hover {
  opacity: 0.8;
}

.ustensiles {
  cursor: pointer;
  margin-right: 2vh;
  margin-top: 1.5vh;
  transition: 0.1s ease-in-out;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #ED6454;
  display: flex;
}
.ustensiles:hover {
  opacity: 0.8;
}

.ingredients {
  margin-right: 2vh;
  margin-top: 1.5vh;
  transition: 0.1s ease-in-out;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: #3282F7;
  display: flex;
}
.ingredients:hover {
  opacity: 0.8;
}

.openIngredients {
  display: none;
  position: absolute;
  width: 43%;
  height: 345px;
  background-color: #3282F7;
  top: 30vh;
  z-index: 99999;
}

.filter {
  display: flex;
}

.filterText {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin: auto;
}

.filterIcon {
  margin: auto;
}

main {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px 30px;
}

.cards {
  background: #E7E7E7;
  border-radius: 5px;
  padding-bottom: 3vh;
}

.cards img {
  border-radius: 5px 5px 0px 0px;
}

.imgHere {
  background: #C7BEBE;
  border-radius: 5px 5px 0px 0px;
  height: 178px;
}

.titleAndTime {
  display: flex;
  margin: auto;
  padding: 2vh;
  justify-content: space-between;
}

.cardsTitle {
  font-size: 18px;
  font-weight: 400;
}

.time {
  display: flex;
}

.timeTitle {
  margin-left: 0.5vh;
  font-size: 18px;
  font-weight: 500;
}

.ingredientsWithDesc {
  padding: 0.1vh 2vh;
  position: relative;
}

.ingredientsList {
  font-size: 12px;
  line-height: 14px;
  color: #000;
  width: 171px;
}

.description {
  margin-left: 1.5vh;
  font-size: 12px;
  position: absolute;
  right: 12px;
  top: 3px;
  width: 171px;
}

.filters {
  background-color: transparent;
}
.filters-elt {
  display: inline-block;
  height: 69px;
  width: 100%;
  position: relative;
  margin: 0 0 10px 0;
  border-radius: 5px;
}
@media (min-width: 600px) {
  .filters-elt:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 600px) {
  .filters-elt {
    width: 170px;
  }
  .filters-elt.scaled {
    width: 600px;
  }
}
.filters-elt input {
  height: 69px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 40px 0 10px;
}
.filters-elt input:hover {
  cursor: pointer;
}
.filters-elt input::placeholder {
  color: #fff;
}
.filters-elt:nth-child(1) {
  background: #3282f7;
}
.filters-elt:nth-child(1) > div, .filters-elt:nth-child(1) > input {
  background: #3282f7;
}
.filters-elt:nth-child(1) li:hover {
  background-color: #0751bc;
}
.filters-elt:nth-child(2) {
  background: #68d9a4;
}
.filters-elt:nth-child(2) > div, .filters-elt:nth-child(2) > input {
  background: #68d9a4;
}
.filters-elt:nth-child(2) li:hover {
  background-color: #2caf72;
}
.filters-elt:nth-child(3) {
  background: #ed6454;
}
.filters-elt:nth-child(3) > div, .filters-elt:nth-child(3) > input {
  background: #ed6454;
}
.filters-elt:nth-child(3) li:hover {
  background-color: #c62715;
}
.filters-elt span {
  position: absolute;
  display: block;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #fff;
}
.filters-elt span:hover {
  cursor: pointer;
}
.filters .filters-all {
  width: 100%;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 65px;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  display: none;
}
.filters .filters-all ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.filters li {
  margin-bottom: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s;
  border-radius: 15px;
}
.filters a {
  display: block;
  width: 120px;
  height: 100%;
}

.filter-tag {
  color: #fff;
}

.filters-all.open {
  display: block;
}

.labels {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}
.labels button {
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 0 10px 10px 0;
}
.labels button:hover {
  cursor: pointer;
}
.labels button span {
  margin-left: 10px;
}

.label.ing {
  background: #3282f7;
}

.label.app {
  background: #68d9a4;
}

.label.ust {
  background: #ed6454;
}

/*# sourceMappingURL=styles.css.map */
